<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
  </head>
  <body>
    <h2>New Chat</h2>
   <form method="post" action="/chats/<%= chat.id%>?_method=PUT">
      <h3 >from : <%=chat.from%></h3>
      <h3>to : <%=chat.to%></h3>

      <textarea name="msg"><%=chat.msg%></textarea><br /><br />
       
      <button>Submit</button><br /><br />
    </form>
  </body>
</html>
