<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>
<body>
       <h2>New Chat</h2>
       <form method="post" action="http://localhost:8080/chats">
       <input type="text" name="from" placeholder="Sender name"> from <br><br>
       <input type="text" name="to"  placeholder="Reciever name">to<br><br>
       <textarea name="msg" >Enter your msg</textarea><br><br>
       <button>Submit</button><br><br>
       </form>
</body>
</html>